---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<API_KEY>&maxResults=25&order=relevance&part=snippet&q&type=video&videoDuration&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 400,
            "message": "Invalid value at 'video_duration' (type.googleapis.com/youtube.api.v3.SearchListRequest.VideoDurationWrapper.VideoDuration), \"\"",
            "errors": [
              {
                "message": "Invalid value at 'video_duration' (type.googleapis.com/youtube.api.v3.SearchListRequest.VideoDurationWrapper.VideoDuration), \"\"",
                "reason": "invalid"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.BadRequest",
                "fieldViolations": [
                  {
                    "field": "video_duration",
                    "description": "Invalid value at 'video_duration' (type.googleapis.com/youtube.api.v3.SearchListRequest.VideoDurationWrapper.VideoDuration), \"\""
                  }
                ]
              }
            ]
          }
        }
  recorded_at: Mon, 19 Aug 2024 18:30:40 GMT
recorded_with: VCR 6.2.0
